<!-- <div ng-controller="$ctrl">     -->
    <!-- <div class="col-sm-4 col-xs-12 text-center">
      <p> {{$ctrl.test}} </p>
      <p> {{{persons.name.first}} </p>
    </div> -->
    <h1>Business page</h1>
<!-- <div class="row notify-row" ng-repeat=" in persons">
    <div class="col-sm-4 col-xs-12 text-center">
      <img ng-src="{{ user.picture.large }}" class="img-responsive" alt="{{ user.name.title | uppercase}}. {{ user.name.first | uppercase}} {{ user.name.last | uppercase}}" />
    </div>
    <div class="col-sm-8 col-xs-12 text-center">
      <h6>{{ user.name.title | uppercase}}. {{ user.name.first | uppercase}} {{ user.name.last | uppercase}} ( {{ user.gender}} )</h6>
      <p>{{ user.email}}</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6">
      <button ng-if="page > 1" class="btn btn-primary btn-block" ng-click="pageChange(page-1)">Previous</button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-primary btn-block" ng-click="pageChange(page+1)">Next</button>
    </div>
  </div> -->
<!-- </div> -->
